/* Movie List */
.movieList {
    background: #101010;
}

.slick-arrow {

}
.slick-prev {
    z-index: 1000;
}
.movieList__item img {
    border-radius: 10px;
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.movieList__info {
    color: #fff;
    text-align: center;
    button {
        @include repond-to("small") {
                    font-size: 12px;
        }
        @include repond-to("medium") {
            font-size: 13px;
        }
    }
    .linkN {
        @include repond-to("medium") {
            font-size: 13px;
        }
    }
}
.anhCr {
    @include repond-to("small") {
        width: 100%;
        height: 360px;
    }
    @include repond-to("medium") {
        width: 100%;
        height: 130px;
    }
}

.movieList__info h4 {
    font-size: 16px;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movieList__info p {
    font-size: 14px;
    opacity: .5;
    color: #fff;
}

.movieList__item {
    // opacity: .35;
    transition: all .5s;
    cursor: pointer;
}

.movieList__item:first-child,
.movieList__item:hover {
    opacity: 1;
}
