/* COmingsoon */
.commingSoon {
    background: #000;
    color: #fff;
    position: relative;
}

.comingSoon__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/slide-3-video.png') no-repeat center;
}

.commingSoon__type {
    color: #ec7532;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
}

.commingSoon__title {
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 1px;
}

.comingSoon__ratingDate {
    display: flex;
    align-items: center;
}

.comingSoon__start .fa {
    color: #fbbd61;
    font-size: 10px;
}

.comingSoon__date {
    font-size: 14px;
    opacity: .75;
    line-height: 24px;
    color: #fff;
}

.comingSoon__des {
    font-size: 16px;
    color: #fff;
}

.comingSoon__moreinfo {
    font-size: 12px;
    position: relative;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #ec7532;
    transition: all .3s;
    text-decoration: none;
}

.comingSoon__moreinfo:hover {
    color: #fbbd61;
    text-decoration: none;
}

.commingSoon__trainer {
    position: relative;
}

.commingSoon__trainer .fa {
    font-size: 24px;
    line-height: 75px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    margin: auto;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    text-align: center;
    color: #fff;
    border: 2px solid #ec7532;
    border-radius: 50%;
    cursor: pointer;
}

.commingSoon__trainer:hover .fa {
    transform: scale(.9);
}
