input {
    opacity: 1 !important;
}
.modal {
    background-color: rgba(0, 0, 0, 0.7);
}
nav.hide {
	transform: translateY(-100%);
}
.moTa1 {
    white-space: nowrap;
    word-break: break-all;
    /* border: solid 1px; */
    width: 100%;
    /* height: 150px; */
    text-overflow: ellipsis;
    overflow: hidden;
}
.slick-prev {
    left: 0px !important;
}
.slick-next {
    right: 0px !important;
}